/* test.css - Tema Alternativo (Morado Ciber) */
:root {
    --dark-bg: #090a0f; 
    --card-bg: #141622; 
    --neon-blue: #7c4dff; /* Cambia a Morado Neón */
    --text-main: #ffffff; 
    --text-muted: #7e84a3;
    --border-color: rgba(124, 77, 255, 0.15);
}

body {
    background-color: var(--dark-bg);
    color: var(--text-main);
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all 0.3s ease;
}

.panel-test {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 25px rgba(124, 77, 255, 0.1);
}

.btn-theme {
    background-color: var(--neon-blue);
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(124, 77, 255, 0.4);
}